<%- include('partials/header') -%>
<div class="container">
    <div class="row  mt-5">
        <!--Navbar-->
      <div class="navbar-container col-2"> <!--sidebar nav-->
       <div class="nav-container">
         <nav class="nav flex-column">
           <a class="nav-link nav-pills" aria-current="page" href="/profile"><img class="nav-pic" src="<%= profile[0].profilePic%>" alt=""></a>
           <a class="nav-link nav-pills" href="/profile">HOME</a>
           <a class="nav-link nav-pills" href="/feed">FEED</a>
           <a class="nav-link nav-pills"href="/friends">FRIENDS</a>
         </nav>
       </div>
     </div>

     <div class="fList profile-input-ct ms-1 col-8">
        <h2>Friends List</h2>
     </div>

     <div class="allList profile-input-ct ms-1 col-8">
        <h2>All Users</h2>
     </div>




</div>
 

<%- include('partials/footer') -%>