<%- include('partials/header') -%>

<div class="row col-12 justify-content-center">
    
  <img class="profile-pic" src="<%profile.img%>" alt="profile pic">

</div>

<div class="row mt-5"> <!--this is the row for the form and the photos -->
     
    <!--Navbar-->
   <div class="navbar-container col-2"> <!--sidebar nav-->
    <div class="nav-container">
      <nav class="nav flex-column">
        <a class="nav-link active nav-pills" aria-current="page" href="/profile"><img class="nav-pic" src="<%profile.img%>" alt=""></a>
        <a class="nav-link nav-pills" href="/profile">HOME</a>
        <a class="nav-link nav-pills" href="/feed">FEED</a>
        <a class="nav-link nav-pills"href="">FRIENDS</a>
      </nav>
    </div>
  </div>

  <div class=" profile-input-ct ms-1 col-8"> <!--this column takes up the first half of space (contains the forms) allows them to be side by side-->
    <div class="user-info">
        <p><strong>User Name:</strong> <%= user.userName %></p>
        <p><strong>Email:</strong> <%= user.email %></p>
        <a href="/logout" class="col-3 btn btn-primary">Logout</a>
    </div>
    <div class="mt-5">  <!--mt is margin top-->
      <h2>Change Profile Pic</h2>
      <!--this is the post form-->
      <form action="/profileEdit"  method="POST">
       
        <div class="mb-3">
          <label for="imgUpload" class="form-label">Image</label>
          <input type="file" class="form-control" id="imageUpload" name="file">
        </div>
        <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
      </form>
    </div>
</div>










<%- include('partials/footer') -%>