<%- include('partials/header') -%>

<div class="row mt-5"> <!--this is the row for the form and the photos -->
     
    <!--Navbar-->
   <div class="navbar-container col-2"> <!--sidebar nav-->
    <div class="nav-container">
      <nav class="nav flex-column">
        <a class="nav-link active nav-pills" aria-current="page" href="/profile"><img class="nav-pic" src="imgs/prof2.webp" alt=""></a>
        <a class="nav-link nav-pills" href="/profile">HOME</a>
        <a class="nav-link nav-pills" href="/feed">FEED</a>
        <a class="nav-link nav-pills"href="">FRIENDS</a>
      </nav>
    </div>
  </div>












<%- include('partials/footer') -%>