
/*General and Header*/
body{
    background-color: #f9dc98;
}

h1 a{
    color:red;
}

h1 a:hover{
    color:white;
}

h1 img{
 height:3em;
 width:3em;
}

.logo-img{
    height:30em;
    width:30em;
}

/*Index and Login pages*/
.btn-primary{
    background-color:red;
    border:black 5px solid;
}
.btn-primary:hover{
    background-color: white;
    color:red;
    border-color: black
    
}

img{
   
    
}

/*Profile*/
.navbar-container{
    border: solid 1px black
}



.nav-link:hover{
    margin: 5px;
    background-color: blue;
    color:white;
    border: 1px solid blue;
    border-radius: 5px;
}

.profile-pic{
    height:15em;
    width:15em;
    
    border-radius: 100px;
}

.pbox-pics a img{
    border: 2px solid black;
}

.pbox-pics{
    box-shadow: 9px 20px 2px 2px rgba(0,0,0,0);
}

.pbox-pics:hover{
    transform:scale(1.3);
    z-index:2;
}
