
/*General and Header*/
body{
    background-color: #f9dc98;
}

h1 a{
    color:red;
}

h1 a:hover{
    color:white;
}

h1 img{
 height:3em;
 width:3em;
}

.logo-img{
    height:30em;
    width:30em;
}

/*Index and Login pages*/
.btn-primary{
    background-color:red;
    border:black 5px solid;
}
.btn-primary:hover{
    background-color: white;
    color:red;
    border-color: black
    
}

    

/*Nav*/
.navbar-container{
    border: solid 3px black;
    background: linear-gradient(red, black)
}

.nav-container{
    background-color: linear-gradient(rgba(255,0,0,0.5), rgba(0,0,0,0.5))
}


.nav-pills{
    width:100%;
    color:black;
}
.nav-link{
    width:100%;
}
.nav-link:hover{
    margin: 2px;
    background-color: black;
    color:white;
    border: 1px solid#f9dc98 ;
    border-radius: 5px;
}

.nav-pic{
    height:5em;
    width:5em;
    border-radius:180px;
    border: #f9dc98 2px solid;
}

.nav{
    position:relative;
}

.edit-user{
    position:absolute;right:0; top:2;
}

.active{
    background-color:#f9dc98;
    border:black 5px solid;
}

.profile-active{
    background-color:#f9dc98;
    border:black 5px solid;
    margin-top: 2px;
}

/*Profile*/

.profile-pic{
    height:20em;
    width:20em;
    border:red solid 10px;
    border-radius: 180px;
    background-color: black;
}

.pbox-pics a img{
    border: 2px solid black;
}

.pbox-pics{
    box-shadow: 9px 20px 2px 2px rgba(0,0,0,0);
}

.pbox-pics:hover{
    transform:scale(1.3);
    z-index:2;
}

.profile-input-ct{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5));
    border:1px solid black;
    border-radius: 20px;
}

.user-info p{
    color:white;
    text-transform:uppercase;
}

.user-info p strong{
    color:black;
    text-transform:capitalize;
}

/*Individual POSTS*/

.comments{

    color:black;
}

.comments-ct{
    background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5));
    border: 1px solid black;
    border-radius: 20px;
}

.comments img{
    height: 40px;
    width: 40px;
    border-radius: 180px;
}