
/*General and Header*/
body{
    background-color: #f9dc98;
}
.header-ct{
    border: 5px solid black;
}

h1 a{
    color:red;
}

h1 a:hover{
    color:white;
}

h1 img{
 height:3em;
 width:3em;
}
.ktech{
    color:red;
    text-decoration: none;
}

.ktech:hover{
    color:white;
}

.logo-img{
    height:30em;
    width:30em;
}

.hidden{
    display: none;
}

/*Index and Login pages*/
.btn-primary{
    background-color:red;
    border:black 5px solid;
}
.btn-primary:hover{
    background-color: white;
    color:red;
    border-color: black
    
}

    

/*Nav*/
.navbar-container{
    border: solid 3px black;
    background: linear-gradient(red, black)
}

.nav-container{
    background-color: linear-gradient(rgba(255,0,0,0.5), rgba(0,0,0,0.5))
}


.nav-pills{
    width:100%;
    color:black;
}
.nav-link{
    width:100%;
}
.nav-link:hover{
    
    background-color: black;
    color:white;
    border: 1px solid#f9dc98 ;
    border-radius: 5px;
}

.nav-pic{
    height:5em;
    width:5em;
    border-radius:180px;
    border: #f9dc98 2px solid;
}

.nav{
    position:relative;
}

.edit-user{
    position:absolute;right:0; top:2;
}

.active{
    background-color:#f9dc98;
    border:black 5px solid;
}

.profile-active{
    background-color:#f9dc98;
    border:black 5px solid;
    margin-top: 2px;
}

/*Profile*/

.profile-pic{
    height:20em;
    width:20em;
    border:red solid 10px;
    border-radius: 180px;
    background-color: black;
    margin-top: 20px;
}

.pbox-pics a img{
    border: 2px solid black;
}

.pbox-pics{
    box-shadow: 9px 20px 2px 2px rgba(0,0,0,0);
}

.pbox-pics:hover{
    transform:scale(1.3);
    z-index:2;
}

.propics{
    height: 200px;
    width: 200px;
}

.propics-ct{
    overflow: auto;
    white-space: nowrap;
    border:5px solid;
    height:400px;
    background: linear-gradient(to right,black, red);
    
}


 .prevpics{
    position:relative;
    border-radius: 20px;
 }

 .updatebutton{
    margin-left: 8px;
    border-radius: 10px;
    color:white;
    background-color: red;
    border-color: black;
 }

 .updatebutton:active{
    background-color: #f9dc98;
 }

 .h2section{
    border:5px solid black;
 }

 .h2section h2{
    text-align: center;
 }

 .h2section span{
    color:red;
 }

 .biosec > p span{
    font-size: 24px;
  background: -webkit-linear-gradient(red, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }

.profile-input-ct{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5));
    border:1px solid black;
    border-radius: 20px;
}

.user-info-pro{
   
}

.user-info{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7));
    border:1px solid black;
    border-radius: 5px;
    padding:8px;
}

.user-info p{
    color:white;
    text-transform:uppercase;
}

.user-info p strong{
    color:black;
    text-transform:capitalize;
}

/*Individual POSTS*/

.comments{ /*li*/
    list-style-type: none;
    color:black;
    background: linear-gradient(to right, black, red);
    width:100%;
    position:relative;
}

.center2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.comments:hover{
    border: 1px solid white;
}

.comments-ct{
    background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5));
    border: 1px solid black;
    border-radius: 20px;
    height:600px;
}

.comments-ct2{
    border: 1px solid black;
    overflow:auto;
    height:400px;
    background-color: black;
}

.comments-ct2 ul{
    width:100%;
}

.comments img{
    height: 50px;
    width: 50px;
    border-radius: 180px;
}

.comments a{
    position:absolute;
    top: 0px;
    left:45%;
    
}

.comments p{
    margin-top: 50px;
    text-align: center;
    overflow-wrap:break-word;
    color:#f9dc98;
   
}

/*Friends*/

.fList h2{
    text-align: center;
}

.allList h2{
    text-align: center;
}
/*Bio*/
.bioName{
    font-size: 50px;
    text-align: center;
}